@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

.common_text h2 {
  font-size: 48px;
  font-weight: 800;
  color: #333461;
  font-family: "Kumbh Sans", sans-serif;
}

.common_text p {
  font-size: 18px;
  font-weight: 400;
  color: #4a556c;
  font-family: "Kumbh Sans", sans-serif;
}
/* ========== Common Css End =========== */

/* =======================
      Menu Part Start
   ======================= */
.main_menu {
  padding: 16px 0 !important;
  background: #ffffff;
}
.main_menu ul {
  gap: 30px;
}
.main_menu ul li a {
  font-size: 15px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c !important;
}
.main_menu .menu_button a {
  padding: 11px 16px;
  background: #20ad96;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Kumbh Sans", sans-serif;
  color: #ffffff;
  border: 1px solid #20ad96;
  transition: all linear.1s;
}

.main_menu .menu_button a:hover {
  background: transparent;
  color: #20ad96;
}
/* =======================
      Menu Part End
   ======================= */

/* =======================
      Banner Part Start
   ======================= */
#banner {
  padding: 100px 0;
  background: #faf8f6;
}
.banner_details {
  display: flex;
  justify-content: space-between;
}
.banner_text h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556cc2;
}
.banner_text h1 {
  font-size: 72px;
  font-weight: 800;
  font-family: "Kumbh Sans", sans-serif;
  color: #333461;
  padding-top: 6px;
  width: 520px;
}
.banner_text p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c;
  width: 545px;
  line-height: 160%;
  padding: 18px 0;
}
.banner_text a {
  display: inline-block;
  padding: 9px 45px;
  background: #20ad96;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Kumbh Sans", sans-serif;
  color: #ffffff;
  border: 1px solid #20ad96;
  transition: all linear.1s;
}
.banner_text a:hover {
  background: transparent;
  color: #20ad96;
}
.banner_img {
  position: relative;
}
.success {
  position: absolute;
  top: -8%;
  left: -25%;
  background: #fff;
  padding: 24px;
}
.success ul {
  display: flex;
  gap: 16px;
  align-items: center;
}
.success ul li .counter,
.success ul li span {
  font-size: 24px;
  font-weight: 800;
  color: #333461;
  display: inline;
}
.success ul li p {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c;
}
/* =======================
      Banner Part End
   ======================= */

/* =======================
      Areas Part Start
   ======================= */
#coaching {
  padding: 100px 0 80px;
}
.coaching_details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 56px;
}
.coaching_text p {
  width: 468px;
  font-size: 16px;
}
.coaching_text span {
  display: inline-block;
  padding-top: 24px;
}

.coaching_part h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  color: #041434;
  padding: 32px 0 16px;
}
.coaching_part p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  width: 300px;
}
/* =======================
      Coaching Part End
   ======================= */

/* =======================
      Feedback Part Start
   ======================= */
#feedback {
  padding: 120px 0;
  background: #faf8f6;
}
.feedback_heading h2 {
  width: 530px;
}
.feedback_slide {
  padding-top: 36px;
}
.slide_items {
  padding: 48px;
  background: #ffffff;
  margin-left: 20px;
}
.slide_items p {
  font-size: 24px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c;
  width: 305px;
}
.slide_items h6 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  width: fit-content;
  padding: 15px 0;
}
.slide_items ul {
  display: flex;
  gap: 4px;
  padding-top: 15px;
  width: fit-content;
}
.slide_items ul li {
  color: #fec84b;
}
/* =======================
      Feedback Part End
   ======================= */

/* =======================
      Blog Part Start
   ======================= */
#blog {
  padding: 100px;
}
.blog_heading h2 {
  width: 680px;
  text-align: center;
  margin: 0 auto;
}
.blog_details {
  padding: 63px 0 53px;
  display: flex;
  gap: 20px;
}
.blog_items {
  margin: 0 auto;
}
.blog_items .item_text {
  padding: 24px 28px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.blog_items .item_text h4 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  color: #333461;
  padding-bottom: 12px;
  width: 300px;
}
.blog_items .item_text p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c;
  width: 300px;
}
.blog_button {
  text-align: center;
}
.blog_button a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
  background: #20ad96;
  padding: 9px 70px;
  border-radius: 10px;
  border: 1px solid #20ad96;
  transition: all linear 0.3s;
}
.blog_button a:hover {
  background: transparent;
  color: #20ad96;
}
/* =======================
      Blog Part End
   ======================= */

/* =======================
      Guide Part Start
   ======================= */
#guide {
  padding: 120px 0;
}
.guide_heading p {
  padding: 22px 0;
  font-size: 22px;
}
.guide_heading span {
  display: inline-block;
  font-size: 17px;
  padding-top: 10px;
}
.guide_heading a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
  padding: 9px 45px;
  background: #20ad96;
  border-radius: 10px;
  border: 1px solid #20ad96;
  transition: all linear 0.3s;
}
.guide_heading a:hover {
  background: transparent;
  color: #20ad96;
}
.guide_img {
  position: relative;
}
.guide_img img {
  margin-left: 80px;
}
.guide_img .free {
  position: absolute;
  top: -8%;
  right: -8px;
  height: 100px;
  width: 100px;
  background: #20ad96;
  border-radius: 50%;
}
.guide_img .free p {
  font-size: 14px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
/* =======================
      Guide Part End
   ======================= */

/* =======================
  Complimentary Part Start
   ======================= */
#complimentary {
  padding-bottom: 80px;
}
.complimentary_details {
  display: flex;
  gap: 30px;
}
.com_heading h2 {
  font-size: 36px;
  padding-top: 64px;
}
.com_heading p {
  padding: 20px 0 40px;
  color: #4a556c8d;
}
.com_heading a {
  font-size: 14px;
  font-weight: 700;
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
  padding: 9px 93px;
  background: #20ad96;
  border-radius: 10px;
  border: 1px solid #20ad96;
  transition: all linear 0.3s;
}
.com_heading a:hover {
  background: transparent;
  color: #20ad96;
}
/* =======================
  Complimentary Part End
   ======================= */

/* =======================
      Subscribe Part Start
   ======================= */
#subscribe {
  padding: 48px 0;
  background: #faf8f6;
}
.sub_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_heading h2 {
  font-size: 30px;
  padding-bottom: 16px;
}
.sub_search {
  display: flex;
  gap: 16px;
}
.sub_search input {
  border: 1px solid #d0d5dd;
  border-radius: 5px;
}
.sub_search input::placeholder {
  padding: 10px 14px !important;
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
}
.sub_search a {
  font-size: 14px;
  font-weight: 500;
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
  padding: 10px 36px;
  background: #20ad96;
  border-radius: 8px;
  border: 1px solid #20ad96;
  transition: all linear 0.3s;
}
.sub_search a:hover {
  background: transparent;
  color: #20ad96;
}
/* =======================
      Subscribe Part End
   ======================= */

/* =======================
      Footer Part Start
   ======================= */
#footer {
  padding: 64px 0;
}
.footer_details {
  display: flex;
  justify-content: space-between;
}
.footer_heading p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c78;
  padding-top: 32px;
  width: 320px;
}
.page p,
.contact p {
  font-size: 14px;
  font-weight: 800;
  font-family: "Kumbh Sans", sans-serif;
  color: #333461;
  padding-bottom: 16px;
}
.page ul li a,
.contact ul li a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Kumbh Sans", sans-serif;
  color: #4a556c78;
  padding-bottom: 10px;
  transition: all linear 0.3s;
}
.page ul li a:hover,
.contact ul li a:hover {
  color: #20ad96;
}
/* =======================
      Footer Part End
   ======================= */
